requests==2.31.0
tabulate
future
ta
numpy==1.21.6
pandas
tqdm
scikit-learn==1.0.2
scipy==1.7.3
beautifulsoup4
gensim
tabgan
matplotlib
h2o
factor-analyzer
seaborn
pyyaml
urllib3==1.26.6
tldextract==5.1.2
gensim==4.3.2
plyvel==1.5.1
